/.bundle
config/database.yml
config/redis.yml
*~
*.log
*.pid
*.pyc
.yardoc/
.DS_Store
log/*.log
log/*.pid
tmp/**
doc/api
doc/app
doc/*
public/stylesheets/scaffold.css
db/sphinx/
log/**
public/system/**
nbproject/**
public/stylesheets/all.css
public/javascripts/all.js
db.prod.dump.sql
db.prod.dump.sql.gz
db/Nationwide_Restaurants_v.2_03-22-2010.csv
chains.xlsx
.sass-cache
.env
.env.*
*.sublime-workspace
Procfile
log
public/system
tmp
sandi_meter/*
sandi_meter
.idea/
punchh-server.iml
coverage/*
*.rdb
public/about_us.html
public/careers.html
public/faq.html
public/investorsadvisors.html
public/leadership.html
public/press.html
public/press_announcements.html
public/press_background.html
public/press_casestudies.html
public/press_events.html
public/press_kit.html
public/press_leadership.html
public/press_videos.html
public/privacy_policy.html
public/apipie-cache/**
public/vue_apps
vendor/bundle
config/google_service_account_key.p12
ssh_config
test/reports
.vagrant
.byebug_history
bin/deploy_config.json
.deploy.env
/.test_queue_stats
